<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit <%= pantryItem.name %></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Edit <%= pantryItem.name %>!</h1>
    <form action="/users/<%= user._id %>/foods/<%= pantryItem._id %>?_method=PUT" method="POST">

        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="<%= pantryItem.name %>" required>

        <button type="submit">Edit <%= pantryItem.name %></button>

    </form>
</body>
</html>